<div class="jumbotron">
  <h1 class="display-4">Olá, bem-vindo ao Blog</h1>
  <p class="lead">Blog desenvolvido com Node.js, Express e MongoDB</p>
  <hr class="my-4">
  {{#if user}}
  <p>Agora utilize o blog sem problemas</p>
  {{else}}
  <p>Faça uma conta no blog</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuario/registro" role="button">Crie uma conta</a>
  </p>
  {{/if}}
</div>
<hr>

<h2>Postagens recentes:</h2>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small><strong>Categoria: </strong>{{categoria.nome}}</small>
        <br>
        <small><strong>Data de publicação:</strong> {{#formatDate data}}{{/formatDate}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}